.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.mat-toolbar {
    background: white;
}

.img-container {
    width: 6rem;
    height: auto;
}