  
  <alpha-navbar></alpha-navbar>
  
  <alpha-progress-bar [mode]="determinate" [color]="warn" [steps]=8 [stepSize]=1  ></alpha-progress-bar>
  
  <div class="container" fxLayout="row" fxLayoutAlign="start start" >
    <div fxFlex="25%" fxHide.xs >
      <alpha-stepper></alpha-stepper>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%">
      <div class="content-container">
        <h2>Company Information</h2>
        <p>Please complete in english unless untill specified.</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
          <mat-card>
            <mat-card-title>Simple card</mat-card-title>
          </mat-card>
      </div>
     
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
          <button mat-raised-button (click)="decrement()" color="warn">Previous</button>
          <button mat-raised-button (click)="increment()" color="warn">Next</button>
      </div>
    </div>
  </div>