div.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

div mat-card{
    display: flex;
    flex-direction: row;
    flex: 1;
    border: thin solid #bcbcbc8f;
    box-shadow: none;
}



@media screen and (min-width: 480px) {
  .content-container{
    margin-top: 110px;
    margin-bottom: 12px;
  }
}

 .content-container h2,
 .content-container p{
    margin: 0 !important;
    // padding: 0 16px;
    color: rgb(89, 100,109);
}