<div class="content-container">
  <h2>Application Contact Info</h2>
  <p>Please complete in english unless untill specified.</p>
</div>
<div fxLayout="row"   fxLayoutAlign="start center" fxLayoutGap="0px">
  <mat-card>

    <div class="form-container">

      <mat-form-field>
        <mat-label>Contact Name</mat-label>
        <input matInput type="text" placeholder="Contact Name">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="number" placeholder="Phone Number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contact MailBox</mat-label>
        <input matInput type="email" placeholder="Contact MailBox">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Account Manager</mat-label>
          <input matInput type="text" placeholder="Account Manager (required)">
      </mat-form-field>

    </div>
    
  </mat-card>
</div>